.clocks {
  max-width: 1210px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.clocks__image,
.clocks__text {
  width: 50%;
}
.clocks__image img {
  height: 100%;
  width: 100%;
  max-height: 450px;
}

.clocks__text {
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.clocks__text h3,
.clocks__text p {
  text-align: left;
  max-width: 320px;
}

.clocks__text strong {
  font-size: 32px;
}

.clocks__text button {
  background: green;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  padding: 12px 20px;

  transition: all 0.3s ease-in-out;
}

.clocks__text button:hover {
  background: #005500;
}

@media (max-width: 720px) {
  .clocks {
    flex-direction: column-reverse;
  }

  .clocks__text {
    width: 100%;
    padding: 0;
  }

  .clocks__image,
  .clocks__image img {
    width: 100%;
  }

  .clocks__text h3,
  .clocks__text strong,
  .clocks__text p {
    text-align: center;
    max-width: none;
  }
}
